

:root{
    --bg-color: black;
    --dark: #292928;
    --first-color: #ff9502;

    --btn-bg: #424241;
    --btn-bg-2: #1c1c1d;
    --btn-active-bg: #70706f;
    --btn-operator: #525251;
    --lastBtnColor: #ff9502;
    --red: #ff3b2f;

    --label: #fff;
    --secondaryLable: #a19fa0;
    --border-color: #464645;
    --border: solid var(--border-color) 1px;
    --big-font-size: 2.5em;

    --ratio: 1;
    --width: 900px;
    --height: 540px;
    --t: 0.3s;
}

@font-face {
    font-family: "icon";
    src: url(./font/sf-pro-icons_regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "icon", "SF Pro Rounded", "Inter", system-ui;
}

body {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 100vh;
    color: var(--label);
}


.card {
    display: flex;
    width: calc(var(--width) * var(--ratio));
    height: calc(var(--height) * var(--ratio));
    border-radius: calc(12px * var(--ratio));
    background: var(--dark);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
}

.header .screen {
    display: flex;
    min-height: 150px;
}

.header .screen .result { 
    font-size: var(--big-font-size);
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    padding: 0 calc(16px * var(--ratio));
}

.buttons {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: calc(10px * var(--ratio));
    padding: calc(16px * var(--ratio));
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
}

button {
    font-size: 1.2em;
    border: none;
    background: var(--btn-bg);
    border-radius: 40px;
    color: var(--label);
    cursor: pointer;
    outline: none;
    transition: var(--t);
}

button:active {
    background: var(--btn-active-bg);
    box-shadow: 0 0 0 3px var(--lastBtnColor);
}

button.operator {
    background-color: var(--lastBtnColor);
    font-size: 2em;

}

button.operator:active {
    box-shadow: 0 0 0 3px var(--btn-active-bg);
}

button.number {
    background-color: var(--btn-operator);
}

button.font-size-xxl {
    font-size: 1.7em;
}

button.up-btn {
    background-color: var(--btn-active-bg);
}

button.rand {
    font-size: 1.1em;
}


