

:root{
    --ratio: 1;
    --bg-color: black;
    --dark: #292928;
    --first-color: #ff9502;

    --btn-bg: #424241;
    --btn-bg-2: #1c1c1d;
    --btn-active-bg: #70706f;
    --btn-operator: #525251;
    --lastBtnColor: #ff9502;
    --red: #ff3b2f;

    --label: #fff;
    --secondaryLable: #a19fa0;
    --border-color: #464645;
    --border: solid var(--border-color) 1px;
    --big-font-size: calc(4em * var(--ratio));

    --width: calc(900px * var(--ratio));
    --height: calc(540px * var(--ratio));
    --t: 0.2s;
}

@font-face {
    font-family: "font";
    src: url(../font/sf-pro-display.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "font", "SF Pro Rounded", sans-serif;
    color: currentColor;
}

body {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(16px * var(--ratio));
    height: 100vh;
    color: var(--label);
}


.card {
    display: flex;
    flex-direction: column;
    width: calc(var(--width) * var(--ratio));
    height: calc(var(--height) * var(--ratio));
    border-radius: calc(10px * var(--ratio));
    background: var(--dark);
}

.header {
    display: flex;
    flex-direction: column;
}

.header .screen {
    display: flex;
    min-height: 180px;
}

.header .screen .result { 
    font-size: var(--big-font-size);
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    padding: 0 calc(16px * var(--ratio));
}

.buttons {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: calc(10px * var(--ratio));
    padding: calc(16px * var(--ratio));
    height: 100%;
}

button {
    font-size: calc(1.2em * var(--ratio));
    border: none;
    background: var(--btn-bg);
    border-radius: 40px;
    color: var(--label);
    cursor: pointer;
    outline: none;
    transition: var(--t);
    position: relative;
}

button:active {
    background: var(--btn-active-bg);
    box-shadow: 0 0 0 3px var(--lastBtnColor);
}

button.operator {
    background-color: var(--lastBtnColor);
    font-size: calc(2em * var(--ratio));
}

button.operator:active {
    box-shadow: 0 0 0 3px var(--btn-active-bg);
}

button.number {
    background-color: var(--btn-operator);
}

button.font-size-xxl {
    font-size: calc(1.7em * var(--ratio));
}

button.up-btn {
    background-color: var(--btn-active-bg);
}

button.rand {
    font-size: calc(1.1em * var(--ratio));

}

.sup, .sub {
    font-size: calc(65% * var(--ratio));
}

.sub-2 {
    vertical-align: bottom;
    font-size: calc(70% * var(--ratio));
}

.result .sqrt {
    color: var(--red);
}

.result .operator {
    color: var(--first-color);
}

.result .conteneur {
    color: #70706f;
}


@media all and (max-width: 940px) {
    :root {
        --width: 100vw;
        --height: 100vh;
    }


}